.moving-box{	width: 560px; 
	height: 400px; 
	background-image: url(mainbackground%20.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

    animation: animatedBackground 20s linear infinite;}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
